
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
  }
  
  
  html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
    background-color: #ffffff;   
  }

  body {
    height: 100%;
    }

/* .grid-lock {
    display: grid;
    grid-template: 60px 1fr 40px/1fr;
} */

  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    transition: all 0.4s ease-in;
  }
  
a:visited {
    color: #737373;
}

  img {
    width: 100%;
  }

  .grid-lock {
      height: 100%;
      display: grid;
      grid-template: 1fr 1fr 1fr/1fr;
      transition: all 0.7s ease-in;
  }

  .navbar {
      display: flex;
     justify-content: space-between;
     margin: 2rem 2rem 0;
     font-size: 1.3rem;
  }

  .nav-list {
    display: flex;
  }

  .nav-list li {
      margin-right: 2.5rem;
      margin-right: 2.5rem;
  }

  .nav-list li a:hover {
    border-bottom: 1px solid #737373;
}

.navbar .navbar #btn {
    display: inline-block;
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    color: #fff;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
}

.container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-size {
    width: 272px;
    text-align: center;
    margin-bottom: 3rem;
    /* margin-top: 4rem; */
}

.search-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    max-width: 500px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.search-glass {
    width: 24px;
    height: 24px;
    margin: 0 1rem 0;
}

.search-icon {
    color: #dfe1e5;
}

.voice-search {
    width: 24px;
    height: 24px;
    margin: 0 1rem;
}

.input-search {
    width: 540px;
    height: 44px;
   border: 0;
   color: #333;
   font-size: 1.6rem;
   outline: 0;
}

.submit-btn {
    margin: 2.5rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in;
}

input[type=submit] {
    margin: 1rem;
    padding: 1.1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    color: #616060;
    transition: all .4s ease-out;
}

input[type=submit]:hover {
    border: 1px solid #ddd;
}

footer {
    display: flex;
    align-items: flex-end;
   justify-content: space-between;
   background-color: #f2f2f2;
    width: 100%;
    align-self: end;
   font-size: 1.3rem;
   border-top: 1px solid rgb(219, 215, 215);
}

.footer-list {
    display: flex;
    padding: 1rem;
}

.footer-list li {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}

@media (max-width: 720px) {
    footer {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}




  